%section.content-header
  %h1
    Equipes
    %small Liste des équipes
  - if can? :create, Team
    .actions
      = link_to new_team_path, class: "btn btn-flat btn-primary" do
        = fa_icon "plus"
        Ajouter

%section.content
  .box
    .box-body
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Nom de l'équipe
            %th Nombre de membres
            %th

        %tbody
          - @teams.each do |team|
            - if can? :read, team
              %tr
                %td
                  = link_to team do
                    = fa_icon "square", style: "color: #{team.color}"
                    = team.label
                %td= team.users.count
                %td
                  - if can? :edit, team
                    = link_to edit_team_path(team), class: "btn btn-flat btn-success btn-xs" do
                      = fa_icon "edit"
                      Modifier
                  - if can? :delete, team
                    = link_to team, method: :delete, data:{confirm: "Êtes vous sûr de vouloir supprimer cette équipe ?"}, class: "btn btn-flat btn-danger btn-xs" do
                      = fa_icon "trash"
                      Supprimer

      = will_paginate @teams, renderer: BootstrapPagination::Rails, next_label: ">", previous_label: "<"

