%section.content-header
  %h1
    Equipes
    %small
      = icon "angle-right"
      = link_to teams_url do
        Mes équipes
      = icon "angle-right"
      = @team.label
      = icon "angle-right"
      Liste des membres


%section.content
  .row
    .col-md-8
      .box
        .box-body
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %th Nom
                %th Email
                %th Est responsable
                %th

            %tbody
              - @members.each do |user|
                %tr
                  %td= user.name
                  %td= user.email
                  %td
                    = icon "#{(@team.is_leader?(user.id)) ? 'check' : 'times'}"
                  %td
                    = link_to team_membership_path(@team, user), method: :delete, data:{confirm: "Êtes vous sûr de vouloir supprimer ce membre de l'équipe ?"}, class: "btn btn-flat btn-danger btn-xs" do
                      = icon "trash"
                      Supprimer

          = will_paginate @members, renderer: BootstrapPagination::Rails, next_label: ">", previous_label: "<"
    .col-md-4
      .box.box-success
        .box-header.with-border Ajouter un membre à l'équipe
        .box-body
          = form_for [@team, @membership] do |f|
            .form-group
              = f.select :user_id, options_from_collection_for_select(@users, :id, :name), {include_blank: "Choisir un membre"}, class: "form-control"
              %span.help-block
                Si le membre n'est pas dans la base de données, vous pouvez l'ajouter :
                = link_to new_user_invitation_path do
                  Ajouter un membre
            .form-group
              .checkbox
                %label
                  = f.check_box :is_leader
                  Cocher cette case si vous souhaitez que ce membre soit le responsable.

            .form-actions
              = f.hidden_field :team_id
              %button.btn.btn-success{type: :submit}
                Ajouter
