%section.content-header
  %h1
    Mon compte

%section.content
  .box
    .box-body
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
        = devise_error_messages!

        %fieldset
          .form-group
            %label.radio-inline
              = f.radio_button :gender, :male
              Mr
            %label.radio-inline
              = f.radio_button :gender, :female
              Mme

          .row
            .col-md-6
              .form-group
                = f.label :firstname
                = f.text_field :firstname, :autofocus => true, class: 'form-control'
            .col-md-6
              .form-group
                = f.label :lastname
                = f.text_field :lastname, :autofocus => true, class: 'form-control'

        .form-group
          = f.label :email
          = f.email_field :email, class: 'form-control'

        .form-group
          = f.label :birthdate
          = f.text_field :birthdate, class: "form-control", value: "#{l resource.birthdate unless resource.birthdate.blank?}"
          %span.help-block Format 'jj/mm/aaaa'

        %fieldset
          %p Pour valider ces changements, merci de renseigner votre mot de passe
          .form-group
            = f.label :current_password
            = f.password_field :current_password, class: 'form-control'

        %fieldset
          %p Si vous ne souhaitez pas changer votre mot de passe, laisser ces champs vides

          .form-group
            = f.label :password
            = f.password_field :password, :autocomplete => 'off', class: 'form-control'

          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: 'form-control'


        .form-group
          %button.btn.btn-success{type: :submit}
            Enregistrer
