%section.content-header
  = link_to [:association, :teams], class: 'btn btn-sm btn-info pull-right' do
    = fa_icon "angle-left"
    Mes équipes

  %h1.pull-left
    = @team.label
    %small= @team.description

  .clearfix

%section.content
  .row
    .col-md-6
      .box
        .box-header.with-border
          = fa_icon 'calendar'
          Planning
        .box-body
          #team-planning.calendar{data:{url: new_association_team_event_path(@team, format: :js)}}

    .col-md-6
      .box
        .box-header.with-border
          = fa_icon 'users'
          Membres
        .box-body
          %table.table.table-bordered.table-striped.table-condensed.table-sm.mb-3
            %thead
              %tr
                %th Nom
                %th Email
                %th Est responsable
                %th

            %tbody
              - @members.each do |user|
                %tr
                  %td= user.name
                  %td= user.email
                  %td
                    = fa_icon "#{(@team.is_leader?(user.id)) ? 'check text-success' : 'times text-danger'}"
                  %td
                    .btn-group
                      = link_to association_team_membership_path(@team, user), method: :delete, data:{confirm: "Êtes vous sûr de vouloir supprimer ce membre de l'équipe ?"}, class: "btn btn-flat btn-danger btn-sm" do
                        = fa_icon "trash"

                      - if @team.is_leader?(user.id)
                        = link_to association_team_destitute_membership_path(@team, user), class: "btn btn-flat btn-sm btn-danger" do
                          = fa_icon "minus"
                      - else
                        = link_to association_team_promute_membership_path(@team, user), class: "btn btn-flat btn-sm btn-info" do
                          = fa_icon "plus"


          = will_paginate @members, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

      .box.box-success
        .box-header.with-border
          = fa_icon "plus"
          Ajouter un membre à l'équipe
        .box-body
          = form_for [:association, @team, @membership] do |f|
            .form-group
              = f.select :user_id, options_from_collection_for_select(@users, :id, :name), {include_blank: "Choisir un membre"}, class: "form-control"
              %span.help-block
                Si le membre n'est pas dans la base de données, vous pouvez l'ajouter :
                = link_to new_user_invitation_path do
                  Ajouter un membre
            .form-group
              .checkbox
                %label
                  = f.check_box :is_leader
                  Cocher cette case si vous souhaitez que ce membre soit le responsable.

            .form-actions
              = f.hidden_field :membershipable_id
              %button.btn.btn-success{type: :submit}
                Ajouter

#event.modal.fade{tabindex: '-1', role: "dialog"}
  .modal-dialog{role: "document"}
    .modal-content

- content_for :scripts do
  = render "association/teams/script"