%section.content-header
  %h1
    Familles
    %small Liste des familles
  - if can? :create, Family
    .actions
      = link_to new_family_path, class: "btn btn-flat btn-primary" do
        = fa_icon "plus"
        Ajouter

%section.content
  .box
    .box-body
      %table.table.table-bordered.table-striped.table-condensed.table-xs
        %thead
          %tr
            %th Nom
            %th Téléphone
            %th Email
            %th Adresse
            %th

        %tbody
          - @families.each do |family|
            %tr
              %td
                = link_to [:app, family] do
                  = fa_icon 'eye'
                  = family.name
              %td= family.phone_1
              %td= family.email
              %td= family.full_address
              %td
                - if can? :update, family
                  = link_to edit_app_family_path(family), class: "btn btn-flat btn-success btn-xs" do
                    = fa_icon "edit"
                    Modifier
                - if can? :delete, family
                  = link_to [:app, family], method: :delete, data:{confirm: "Êtes vous sûr de vouloir supprimer cette famille ?"}, class: "btn btn-flat btn-danger btn-xs" do
                    = fa_icon "trash"
                    Supprimer

      = will_paginate @families, renderer: BootstrapPagination::Rails, next_label: ">", previous_label: "<"
