%section.content-header
  %h1
    Membres
    %small Liste des membres
  - if can? :create, User
    .actions
      = link_to new_user_invitation_path, class: "btn btn-flat btn-primary" do
        = icon "plus"
        Ajouter

%section.content
  .box
    .box-body
      %p.text-muted Pour modifier votre compte, cliquez sur votre nom en haut à droite puis cliquez sur "Mon Compte"
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Nom
            %th Email
            - if can? :update, User
              %th Invitation acceptée
            %th

        %tbody
          - @users.each do |user|
            %tr
              %td= user.name
              %td= user.email
              - if can? :update, User
                %td
                  = icon "#{(user.invitation_accepted_at.blank?) ? 'times' : 'check'}"
              %td
                - if can? :update, user
                  = link_to edit_user_path(user), class: "btn btn-flat btn-success btn-xs" do
                    = icon "edit"
                    Modifier
                - if can? :delete, user
                  = link_to user, method: :delete, data:{confirm: "Êtes vous sûr de vouloir supprimer cette équipe ?"}, class: "btn btn-flat btn-danger btn-xs" do
                    = icon "trash"
                    Supprimer

      = will_paginate @users, renderer: BootstrapPagination::Rails, next_label: ">", previous_label: "<"
