%section.content-header
  %h1
    Membres
    %small Mes informations personnelles

  .actions
    = link_to public_edit_member_path(token: @member.token), class: "btn btn-flat btn-success" do
      = fa_icon "edit"
      Modifier

%section.content
  .row
    .col-md-4
      .box.box-primary
        .box-body.box-profile
          %h3.profile-username.text-center
            = fa_icon "#{@member.gender}"
            = @member.get_gender
            = @member.name
          - if @member.has_family?
            %p.text-muted.text-center
              = @member.sibling_get_status
              de la famille
              %b.text-primary
                = @member.family_name

          = link_to public_edit_member_path(token: @member.token), class: "btn btn-block btn-flat btn-primary" do
            %b Editer

      .box.box-primary
        .box-header.with-border
          %h3.box-title.text-center À propos

        .box-body
          %ul.fa-ul
            %li
              = fa_icon 'sitemap fa-li'
              Famille:
              %span
                %b.text-primary
                  = @member.family_name

            %li
              = fa_icon 'home fa-li'
              Adresse:
              %span
                = link_to "http://maps.google.com/?q=#{@member.full_address}", target: "_blank" do
                  = @member.full_address
            %li
              = fa_icon 'birthday-cake fa-li'
              Date de naissance:
              = "#{l @member.birthdate} (#{@member.age} ans)" unless @member.birthdate.blank?

            %li
              = fa_icon 'phone fa-li'
              Téléphone:
              %span
                = link_to @member.phone_1, "tel:#{@member.phone_1}"
            %li
              = fa_icon 'envelope fa-li'
              Email:
              %span
                = link_to @member.email, "mailto:#{@member.email}"


    - if @user
      .col-md-8
        .box.box-success
          .box-header.with-border
            %h3.box-title.text-center Ma Fiche bénévole

          .box-body
            %p
              = fa_icon 'envelope'
              Mon email de bénévole :
              %span
                = link_to @member.email, "mailto:#{@member.email}"

            .row
              .col-md-8
                #calendar
              .col-md-4
                %h3.page-header Ses équipes
                - @user.teams.each do |team|
                  %p
                    = link_to team do
                      = fa_icon "square", style: "color: #{team.color}"
                      = team.label

- if @user
  - content_for :scripts do
    = render "members/scripts"