.modal-header
  - if event.new_record?
    %h4.modal-title.pull-left Ajouter un événement
  - else
    %h4.modal-title.pull-left Modifier un événement
  %button.close{type: 'button', data:{dismiss: 'modal'}, aria:{label: 'Close'}}
    = fa_icon "times"

= form_for event do |f|
  .modal-body
    - if event.errors.any?
      .callout.callout-danger
        %h4= "#{pluralize(event.errors.count, "erreur")}"
        %ul
          - event.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      %label Nom
      = f.text_field :label, class: "form-control"
      %span.help-block Exemple : "Ecole du dimanche 18/09", "Louange 25/09"...

    .form-group
      %label Date et heure de début
      = f.datetime_field :begin_at, class: "form-control datetimepicker", value: "#{l event.begin_at unless event.begin_at.blank? }"

    .form-group
      %label Date et heure de fin
      = f.datetime_field :end_at, class: "form-control datetimepicker", value: "#{l event.end_at unless event.end_at.blank? }"

    .form-group
      %label Description
      = f.text_area :description, class: "form-control", rows: 3


    - if @event.organizer_type? && @event.organizer_id?
      = f.hidden_field :organizer_type
      = f.hidden_field :organizer_id
      .form-group
        .checkbox
          %label
            = f.check_box :is_public, class: 'is_public_team'
            L'évènement concerne tout le groupe ?


      #assigns{style: "display: #{(event.is_public)? 'none' : 'block'}"}
        %h3 Affectations
        #assignments
          = f.fields_for :assignments do |assignment|
            = render 'events/assignment_fields', f: assignment
          .links
            = link_to_add_association 'Ajouter une affectation', f, :assignments, partial: 'events/assignment_fields'


  .modal-footer
    - unless event.new_record?
      = link_to event, method: :delete, data:{confirm: 'Voulez vous suppimer cet événement ?'}, class: 'btn btn-danger pull-left' do
        = fa_icon 'trash'
        Supprimer l'événement
    %button.btn.btn-success{type: :submit}
      Enregistrer
    %button.btn.btn-danger{data:{dismiss: 'modal'}}
      Annuler