= form_for event do |f|
  - if event.errors.any?
    .callout.callout-danger
      %h4= "#{pluralize(event.errors.count, "erreur")}"
      %ul
        - event.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    %label Nom
    = f.text_field :label, class: "form-control"
    %span.help-block Exemple : "Ecole du dimanche 18/09", "Louange 25/09"...

  .form-group
    %label Date et heure de début
    = f.text_field :begin_at, class: "form-control datetimepicker", value: "#{l event.begin_at unless event.begin_at.blank? }"

  .form-group
    %label Date et heure de fin
    = f.text_field :end_at, class: "form-control datetimepicker", value: "#{l event.end_at unless event.end_at.blank? }"

  .form-group
    %label Description
    = f.text_area :description, class: "form-control", rows: 3

  .form-actions
    = f.hidden_field :organizer_type
    = f.hidden_field :organizer_id
    %button.btn.btn-success{type: :submit}
      Enregistrer
