%section.content-header
  %h1.pull-left
    Plannnig de l'église


  .clearfix

%section.content
  .row
    .col-md-8
      .box
        .box-header.with-border
          = fa_icon 'calendar'
          Planning
        .box-body
          #planning.calendar{data:{url: new_event_path(format: :js)}}

    .col-md-4
      .box
        .box-body
          %h3.page-header Légende
          %ul.list-unstyled
            - @teams.each do|team|
              %li
                = fa_icon "square", style: "color: #{team.color}"
                = team.label
            %li
              = fa_icon "square", style: "color: #000"
              Évènements publics


#event.modal.fade{tabindex: '-1', role: "dialog"}
  .modal-dialog{role: "document"}
    .modal-content

- content_for :scripts do
  = render "events/script"