.row
  .col-lg-6.d-none.d-lg-block.bg-login-image
  .col-lg-6
    .p-5
      .text-center
        %h1.h4.text-gray-900.mb-4 Un plaisir de vous revoir !

      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
        = render "devise/shared/error_messages", resource: resource
        .form-group
          = f.email_field :email, :autofocus => true, class: 'form-control form-control-user', "aria-describedby" => "emailHelp", :placeholder => "Votre email..."

        .form-group
          = f.password_field :password, class: 'form-control form-control-user', placeholder: 'Mot de passe'

        - if devise_mapping.rememberable?
          .form-group
            .form-check
              = f.check_box :remember_me, class: 'form-check-input'
              = f.label :remember_me, class: 'form-check-label'

        %button.btn.btn-primary.btn-user.btn-block{type: :submit}
          Connexion

      .text-center
        = link_to new_password_path(resource_name), class: 'small' do
          J'ai oublié mon mot de passe


      %hr/

      = link_to new_registration_path, class: 'btn btn-info btn-block' do
        Créer un compte
