%section.content-header
  %h1
    Connexion

%section.content
  .box
    .box-body
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
        = devise_error_messages!
        .form-group
          %label Email
          = f.email_field :email, :autofocus => true, class: 'form-control'


        .form-group
          %label Mot de passe
          = f.password_field :password, class: 'form-control'
          - if devise_mapping.recoverable?
            = link_to new_password_path(resource_name), class: 'right' do
              = icon "question"
              J'ai oublié mon mot de passe

        .form-actions
          %button.btn.btn-primary{type: :submit, class: "right"}
            Connexion
          - if devise_mapping.rememberable?
            .checkbox
              %label
                = f.check_box :remember_me
                Se rappeler de moi
