%section.content-header
  %h1
    Equipes
    %small
      = icon "angle-right"
      = link_to teams_url do
        Mes équipes
      = icon "angle-right"
      = @team.label
      = icon "angle-right"
      Planning

%section.content
  .box.box-primary
    .box-header
      .box-tools
        = link_to [@team, @event], method: :delete, data:{confirm: "Voulez vous vraiment supprimer cet événement ?"}, class: "btn btn-sm btn-danger" do
          = icon "trash"
          Supprimer
    .box-body
      = render 'form', event: @event, team: @team
