%section.content-header
  %h1
    Equipes
    %small
      = icon "angle-right"
      = link_to teams_url do
        Mes équipes
      = icon "angle-right"
      = @team.label
      = icon "angle-right"
      Planning


%section.content
  .box
    .box-content
      #team-planning.calendar{data:{url: new_team_event_path(format: :js)}}

#event.modal.fade{tabindex: '-1', role: "dialog"}
  .modal-dialog{role: "document"}
    .modal-content

- content_for :scripts do
  = render "teams/events/scripts"
