
%hr.sidebar-divider.my-0

%li.nav-item{class: "#{'active' if params[:controller].match(/pages/)}"}
  = link_to root_url, class: "nav-link" do
    = fa_icon "tachometer-alt", class: "fas fa-fw"
    %span Mon planning

%hr.sidebar-divider


.sidebar-heading
  Mon église


%li.nav-item{class: "#{'active' if params[:controller].match(/members|families/)}"}

  %a.nav-link{href: "#", 'data-toggle' => "collapse", 'data-target' => "#collapseMembers", 'aria-expanded' => "true", 'aria-controls' => "collapseMembers"}
    = fa_icon "user"
    %span Membres

  #collapseMembers.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionSidebar"}
    .bg-white.py-2.collapse-inner.rounded
      %a.collapse-item{:href => app_members_url, class: "#{'active' if params[:controller].match(/members/)}"}
        = fa_icon 'male'
        Toutes les personnes

      %a.collapse-item{:href => app_families_url, class: "#{'active' if params[:controller].match(/families/)}"}
        = fa_icon 'sitemap'
        Toutes les familles

- if can? :read, Team || current_user.is_leader?
  %li.nav-item{class: "#{'active' if params[:controller].match(/teams/)}"}
    = link_to teams_url, class: "nav-link" do
      = fa_icon "users"
      %span Mes équipes

- if can? :read, User
  %li.nav-item{class: "#{'active' if params[:controller].match(/users/)}"}
    = link_to users_url, class: "nav-link" do
      = fa_icon "leaf"
      %span Bénévoles

%li.nav-item{class: "#{'active' if params[:controller].match(/events/)}"}
  = link_to events_url, class: "nav-link" do
    = fa_icon "calendar"
    %span Evenements


