%section.sidebar
  %ul.sidebar-menu
    %li{class: "#{'active' if params[:controller].match(/dashboard/)}"}
      = link_to root_url do
        = icon "dashboard"
        %span Mon planning

    %li{class: "#{'active' if params[:controller].match(/teams/)}"}
      = link_to teams_url do
        = icon "users"
        %span Mes équipes

    %li{class: "#{'active' if params[:controller].match(/users/)}"}
      = link_to users_url do
        = icon "user"
        %span Membres

    -# %li.treeview{class: "#{'active' if params[:controller].match(/continents|countries|towns/)}"}
    -#   %a{:href => "#"}
    -#     %i.fa.fa-globe
    -#     %span Geolocalisation
    -#     %i.fa.fa-angle-left.pull-right
    -#   %ul.treeview-menu
    -#     - if can?(:read, :continent)
    -#       %li{class: "#{'active' if params[:controller].match(/continents/)}"}
    -#         = link_to admin_continents_path do
    -#           %i.fa.fa-globe
    -#           Continents
    -#     - if can?(:read, :country)
    -#       %li{class: "#{'active' if params[:controller].match(/countries/)}"}
    -#         = link_to admin_countries_path do
    -#           %i.fa.fa-globe
    -#           Pays
    -#     - if can?(:read, :town)
    -#       %li{class: "#{'active' if params[:controller].match(/towns/)}"}
    -#         = link_to admin_towns_path do
    -#           %i.fa.fa-globe
    -#           Villes
