%a.logo{:href => "/"}
  %span.logo-mini
    %b E
    CRM
  / logo for regular state and mobile devices
  %span.logo-lg
    %b Eglise
    CRM
/ Header Navbar: style can be found in header.less
%nav.navbar.navbar-fixed-top{:role => "navigation"}
  / Sidebar toggle button
  %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
    %span.sr-only Masquer

  .navbar-custom-menu
    %ul.nav.navbar-nav.d-block
      %li.d-none.d-sm-block
        .h5.text-warning
          = @association.name

      %li.d-none.d-sm-block
        = link_to root_url do
          Changer d'association
      - unless current_user.blank?
        %li.dropdown.user.user-menu
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            = fa_icon "user"
            %span.hidden-xs= current_user.name
          .dropdown-menu
            = link_to edit_user_registration_path, class: 'dropdown-item' do
              Mon profil
            = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
              Se déconnecter
