%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title ADD Blois - Plannings

  = stylesheet_link_tag 'application', media: 'all'
  = csrf_meta_tags

  %body
    %header
      .bg-dark.collapse#navbarHeader
        .container
          .row
            .col-sm-8.col-md-7.py-4
              %h4.text-white A propos

              %p.text-muted
                ChurchCRM est une application de gestion d'église conforme aux nouvelles normes RGPD.

            .col-sm-4.offset-md-1.py-4
              %h4.text-white Contact
              %ul.list-unstyled
                %li
                  = link_to 'mailto:p.gruson@gmail.com', class: 'text-white' do
                    Par email

      .navbar.navbar-dark.bg-dark.shadow-sm
        .container
          = link_to root_url, class: 'navbar-brand d-flex align-items-center' do
            Church
            %b CRM

          %button.navbar-toggler.collapsed{type: "button", 'data-toggle': "collapse", 'data-target': "#navbarHeader", 'aria-controls': "navbarHeader", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
            %span.navbar-toggler-icon

    %main{role: :main}
      .container
        = yield


    %footer.bg-dark.py-3.text-muted
      .container
        %p Church CRM &copy; Tous droits réservés

    = javascript_include_tag 'application'
    = custom_bootstrap_flash
    = yield :scripts
