!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Eglise CRM - Gérer les membres de votre église

    = stylesheet_link_tag 'public', media: 'all'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-gradient-primary.text-white.fixed-top
      .container
        = link_to root_url, class: "navbar-brand" do
          Eglise CRM

        %button.navbar-toggler{"aria-controls" => "main-navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#main-navbar", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon

        #main-navbar.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item
              = link_to root_url, class: 'nav-link' do
                Accueil

            %li.nav-item.mx-3
              = link_to new_association_path, class: "nav-link btn btn-outline-success" do
                %span.pb_rounded-4.px-4 Inscrire mon association


            - unless current_user.blank?
              %li.dropdown.nav-item
                %a#user-menu.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = current_user.name
                .dropdown-menu{'aria-labelledby' => "user-menu"}
                  = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                    Se déconnecter


    = yield

    %footer.pb_footer.bg-light{:role => "contentinfo"}
      .container
        .row.text-center
          .col
            %ul.list-inline
              %li.list-inline-item
                = link_to 'https://www.facebook.com/flechme', class: 'p-2', target: '_blank' do
                  %i.fa.fa-facebook

              %li.list-inline-item
                = link_to 'https://twitter.com/pgruson', class: 'p-2', target: '_blank' do
                  %i.fa.fa-twitter

              %li.list-inline-item
                = link_to 'https://www.instagram.com/flechme/', class: 'p-2', target: '_blank' do
                  %i.fa.fa-instagram
        .row
          .col.text-center
            %p.pb_font-14
              © 2019
              = link_to root_url do
                Eglise CRM
              Tous droit réservés.
              %br
              Créé et développé par
              = link_to 'https://flech.me', target: '_blank' do
                FlechMe

    #pb_loader.show.fullscreen
      %svg.circular{:height => "48px", :width => "48px"}
        %circle.path-bg{:cx => "24", :cy => "24", :fill => "none", :r => "22", :stroke => "#eeeeee", "stroke-width" => "4"}
        %circle.path{:cx => "24", :cy => "24", :fill => "none", :r => "22", :stroke => "#1d82ff", "stroke-miterlimit" => "10", "stroke-width" => "4"}


    = javascript_include_tag 'public'
    = custom_bootstrap_flash
    = yield :scripts
