%section.content-header
  %h1
    Membres
    %small Liste des membres
  - if can? :create, User
    .actions
      = link_to new_member_path, class: "btn btn-flat btn-primary" do
        = fa_icon "plus"
        Ajouter

%section.content
  .box
    .box-body
      %table.table.table-bordered.table-striped.table-condensed.table-xs
        %thead
          %tr
            %th Nom
            %th Téléphone
            %th Email
            %th Adresse
            %th Famille
            %th

        %tbody
          - @members.each do |member|
            %tr
              %td
                = fa_icon "#{member.gender}"
                = member.get_gender
              %td
                = link_to member do
                  = fa_icon 'eye'
                  = member.name
              %td= [member.phone_1, member.phone_2].reject { |c| c.blank? }.join(', ')
              %td= member.email
              %td= member.full_address
              %td
                - unless member.family_id.blank?
                  = link_to family_path(member.family_id) do
                    = member.family_name
              %td
                - if can? :update, member
                  = link_to edit_member_path(member), class: "btn btn-flat btn-success btn-xs" do
                    = fa_icon "edit"
                    Modifier
                - if can? :delete, member
                  = link_to member, method: :delete, data:{confirm: "Êtes vous sûr de vouloir supprimer ce membre ?"}, class: "btn btn-flat btn-danger btn-xs" do
                    = fa_icon "trash"
                    Supprimer

      = will_paginate @members, renderer: BootstrapPagination::Rails, next_label: ">", previous_label: "<"
